<html lang="en">
	<head>
		<title>Athens Transportation API</title>
		<style>
			body {
			  font-family: 'Courier New', monospace;
			}
		</style>
	</head>
	<body>
		<h3>API Endpoints</h3>
		<hr>
		<ul>
		  <li><a href="https://athens-transportation.herokuapp.com/firstlast" target="_blank">/firstlast</a></li>
		  <li><a href="https://athens-transportation.herokuapp.com/frequency" target="_blank">/frequency</a></li>
		  <li><a href="https://athens-transportation.herokuapp.com/duration" target="_blank">/duration</a></li>
		</ul>
		<hr>
		<p>Information retrieved from the official <a href="http://www.stasy.gr" target="_blank">Athens Metro</a> website.</p>
	</body>
</html>